{% extends 'musicapp/base.html' %}
{% load static %}
{% block main %}
    <link rel="stylesheet" href="{% static 'musicapp/css/index.css' %}"/>
    <div class="index-page">
        <div class="left">
            <div class="headline">
                <h1>Listen without limits!</h1>
            </div>
            <div class="text">
                <h3>Store your music in the cloud and listen online</h3>
            </div>
            <div class="button-div">
                <a href="http://localhost:8080/#/">
                    Open Player
                </a>
            </div>
        </div>
        <div class="right">
            <div class="img">
                <img src="{% static 'musicapp/img/headphones.png' %}"/>
            </div>
        </div>
    </div>
{% endblock %}
